@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

body {
  font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;  
}

h1, h2 {
  font-weight: bold;
}

/* Header Styles */
#header {
  padding-top: 2em;
  overflow: auto;
}

#header .logo {;
  font-family: 'Lobster', 'Arial', serif;
  font-size: 5em;  
}

#header .logo a {
  color: #000;
  text-decoration: none;
}

.navigation {
  white-space: nowrap;
  background-color: #c3c3c3;
}

ul.navigation {
  margin-top: 3em;
}

.navigation li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0;
}

.navigation li:first-child {
  padding-left: 0;
}

.navigation li:last-child {
  padding-right: 0;
}

.navigation li a {
  padding: 0 .75em;
  font-size: 1.3em;
  text-decoration: none;
}

#content {
  margin-top: 1em;
  padding-top: 1em;
  background-color: #c3c3c3;
  padding-bottom: 1em;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

