<h1>Welcome to Convivo!</h1><br />
<p>Take a look at <%= link_to "Farmers", farmers_path %>, <%= link_to "Washing Stations", washing_stations_path %>, <%= link_to "Farms", farms_path %>, and <%= link_to "Organic Certifiers", organic_certifiers_path %>.</p>
