<h2><%=h @organic_certifier.name %></h2>
<h3>Code: <%= @organic_certifier.code %> </h3>
<%= link_to 'Edit', edit_organic_certifier_path(@organic_certifier) %> |
<%= link_to 'Back', organic_certifiers_path %>